.header{
    border-bottom: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00B098;
    
}
.header-text{
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}
.header-logo{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}
.main-page{
    border: 1px solid red;
    height: calc(100vh - 10px);
    margin-top: 1px;
    display: flex;
}
.left-side-panel{
    border: 1px solid black;
    width: 25%;
    display: flex;
    justify-content: space-around;
    .size-range input{
        width: 250px;
    }
}
.right-side-panel{
    border: 1px solid black;
    width: 75%;
    .title{
        border-bottom: 1px solid #0000001a;
        color: #00B098;
        font-size: 400;
    }
    .card{
        width: 20rem;margin-right: 5px;
    }
    .card-head{
        background: black;border-radius: 0.25rem;
    }
    .item-mfdName{
        font-size: 12px;color: white;
    }
    .item-mfLogo{
        width: 60px; color: white;
    }
}
.item-img{
    height: 240px;
    width: 80px;
}
.item-logo{
    height: 25px;
    width: 25px;
    border-radius: 4px;
}
.price{
    font-weight: 500;
}
.base-price{
    border-top: 1px solid #0000001a;
}
.annual-saving{
    border: 3px solid green;border-radius: 5px;
    .estmate{
        font-size: 92%;margin-right: 5px;
    }
}

.container{
    height: calc(100vh - 90px);
    overflow: auto;
}
.row{
    --bs-gutter-x: 0px;
}
.card-footer{
    cursor: pointer;
}