.details-img{
    height: 325px;
    width: 300px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-img img{
    height: 300px;
    width: 125px;
}